<table>
    <tr>
        <td>Email</td>
        <td>Timestamp</td>
    </tr>
    <tr>
        <td><%=users.email%></td>
    </tr>
</table>





 <% for (var i=0; i < users.length; i++){ %>
                <%=users[i].email%>
            <% } %>